.wrapper{
    border: 1px solid #ccc;
    background: rgb(250, 250, 250);
    width: 400px;
    height: 321px;
}
.stage{
    height: 50px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}
.text{
    padding: 10px;
    font-weight: bold;
}
.step{
    background: rgb(250, 250, 250);
    border: 1px solid #ccc;
    height: 480px;
    margin-top: 50px;
}
.step .text{
    border-bottom: 1px solid #ccc;
    padding: 15px;
    text-align: left;
}